.constainer {
  flex: 1;
}

.img {
  height: 300px;
  width: 300px;
}

.button-container {
  justify-content: flex-end;
}

.button {
  text-align: center;
  color: white;
  background-color: black;
}
